<form #contactForm="ngForm" (ngSubmit)="handleSubmit(contactForm)">
  <label>Email <input name="email" type="email" email required ngModel /></label
  ><br />
  <label>Titre <input name="titre" type="text" required ngModel /></label>
  <br />
  <label
    >Message <br />
    <textarea required minlength="50" name="message" ngModel></textarea></label
  ><br />
  <button type="submit">Envoyer</button>
</form>

@if(!contactForm.valid){
<p>Veuillez corriger les erreurs suivantes :</p>
<ul>

  @if(!contactForm.control.get('email')?.valid){  
    <li>le champ email est invalide :</li>
    <ul>
    @if(contactForm.control.get('email')?.hasError('required')){
    <li>le champ email est obligatoire</li>
    } 
    @if(contactForm.control.get('email')?.hasError('email')){
      <li>le champ email n'est pas un email valide</li>
      } 
    </ul>
  }
  
  @if(!contactForm.control.get('titre')?.valid){   
    <li>le champ titre est invalide :</li>
    <ul>
    @if(contactForm.control.get('titre')?.hasError('required')){
    <li>le champ titre est obligatoire</li>
    } 
</ul>
  }
  
  @if(!contactForm.control.get('message')?.valid){
 
    <li>le champ message est invalide :</li>
    <ul>
    @if(contactForm.control.get('message')?.hasError('required')){
    <li>le champ message est obligatoire</li>
    } 

    @if(contactForm.control.get('message')?.hasError('minlength')){
        <li>
            le champ message est trop court !             
            {{ contactForm.control.get('message')?.errors!['minlength'].actualLength }} caractères sur 
            {{ contactForm.control.get('message')?.errors!['minlength'].requiredLength }}
        </li>
    } 
    </ul>
  }
</ul>
}
