<p>pizzas works!</p>

<input type="text" placeholder="Nouvelle pizza" #new_pizza />
<label>Prix <input  name="prix" type="number" min="0" max="100" #new_prix /></label>
<button (click)="addPizza(new_pizza.value, new_prix.value)"> Ajouter </button>

<p>Vous êtes en train de saisir: {{new_pizza.value}} </p>

<button (click)="togglePizzas()">Toggle Pizzas</button>

<p>Compteur pizza {{ count }}, dernière cliquée: {{ last_clicked }}</p>

<div [@affichePizzas]="show_pizzas ? 'affiche' : 'cache'">
@for(pizza of pizzas$ | async; track pizza.name) { 

    <app-pizza 
        [ngClass]="{'cher' : pizza.prix > 12, 'pas-cher': pizza.prix <= 12}"
        appUserLog="pizza"
        [other_input_name]="pizza"
        (pizzaClicked)="handlePizzaEvent($event)"
        (removeRequested)="removePizza(pizza)"
        >
    </app-pizza>

} @empty {
    <p>Aucune pizza dans la liste</p>
}
</div>