<p>pizzas works!</p>

<input type="text" placeholder="Nouvelle pizza" #new_pizza />

<p>Vous êtes en train de saisir: {{new_pizza.value}} </p>

<button (click)="togglePizzas()">Toogle Pizzas</button>

<p>Compteur pizza {{ count }}, dernière cliquée: {{ last_clicked }}</p>

@if(show_pizzas){
    @for(pizza of pizzas; track pizza.name) { 

        <app-pizza 
            [other_input_name]="pizza"
            (pizzaClicked)="handlePizzaEvent($event)"
            (removeRequested)="removePizza(pizza)"
            >
        </app-pizza>

    } @empty {
        <p>Aucune pizza dans la liste</p>
    }    
}
